<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %} | Curso Django</title>
    <!--Importat Css-->
    <!-- Cargar archivos estaticos-->
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>

  <body>
    <header>
      <div id="logo">
        <h1>Proyecto con django</h1>
      </div>
    </header>

    <nav>
      <ul>
        <li>
          <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li>
          <a href="{% url 'list_articles' %}">Categorias</a>
          <ul>
            {% for category in categories %}
            <li>
              <a href="{% url 'category' category.0 %}">{{category.1}} A</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% for page in pages %}
        <li>
          <a href="{% url 'page' page.2 %}">{{page.1}}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <div id="content">
      <div class="box">{% block content %} {% endblock %}</div>
    </div>
    <footer>Master Python &copy; lodo || {% now "Y-m-d" %}</footer>
  </body>
</html>
