{% extends 'layouts/layout.html' %}
{% block title %}
 {{title}}
{% endblock title %}
{% block content %}

{% comment %}
    Mostrar posibles errores
{% endcomment %}

{{register_form.errors}}

<form method="post" actions="">
{% comment %}
    todos los formularios llevantoken
{% endcomment %}
{% csrf_token %}
{% comment %}
traer en RAW todo nuestro form
     {{register_form.as_p}}
{% endcomment %}

{% comment %}
    mostrar campo por campo
    {{register_form.username.label}}
    {{register_form.username}}
{% endcomment %}

{% comment %}
    recorrer todos los campos
{% endcomment %}

{% for field in register_form %}
    <label>{{field.label}}</label>
    {{field}}
{% endfor %}

<input type="submit" value="Registro"/>
</form>
{% endblock %}
    
