{% extends 'layouts/layout.html' %}
{% block content %}
<h1>{{title}}</h1>    
{% comment %}
   los mensajes de puedes ver en cualquier parte de la app
   primero se recomienda verificar si hay y si existen  
{% endcomment %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success message">
            {{message}}
        </div>
    {% endfor %}
{% endif %}
{% comment %}
    el usuario esta identificdo
{% endcomment %}
{% if user.username %}
    <h2>Hola, {{user.username}}, {{user.last_name}} </h2>
    <p>
        {{user.email}}
    <p>
{% else %}
    <p>
         No estas identificado
        <a href="{% url 'login' %}">Login</a>
    </p>  
{% endif %}
{% endblock %}
    
